<div class="wrapper">
  <h4 class="h2"> Want to sell? Fill the information below.</h4>

  <%= form_with model: @property, local: true, class: 'text-body' do |f| %>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, autofocus: true, autocomplete: 'city', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :neighborhood %>
      <%= f.text_field :neighborhood, autofocus: true, autocomplete: 'neighborhood', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :bedrooms %>
      <%= f.text_field :bedrooms, autofocus: true, autocomplete: 'neighborhood', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price, autofocus: true, autocomplete: 'neighborhood', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :bathrooms %>
      <%= f.text_field :bathrooms, autofocus: true, autocomplete: 'neighborhood', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :square_meters %>
      <%= f.text_field :square_meters, autofocus: true, autocomplete: 'neighborhood', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :pool_area %>
      <%= f.select(:pool_area, [['yes', true], ['no', false]], {}, {:class => 'form-control'}) %>                            
    </div>

    <div class="form-group">
      <%= f.label :pets %>
      <%= f.select(:pets, [['yes', true], ['no', false]], {}, {:class => 'form-control'}) %>                            
    </div>
  <% end %>
</div>