<div class="container" id='blur'>
  <div class="row">
    <%= render 'properties/carousel'%>
  </div>
        <section class="sssection-2 border shadow mb-5 py-5 mx-4">
          <div class="row">
            <div class="col-12">
              <h5 class="h3 text-red text-center"> Adress: <%= @property.street %> </h5>
            </div>
          </div>
          <div class="row grid">
            <div class="item d-flex justify-content-center border">
              <i class="fas fa-ruler-horizontal"></i>
              <span>Meters <%= @property.square_meters %></span>
            </div>
            <div class="item d-flex justify-content-center border">
              <i class="fas fa-bed"></i>
              <span> Bedrooms: <%= @property.bedrooms %> </span>
            </div>
            <div class="item d-flex justify-content-center border">
              <i class="fas fa-shower"></i>
              <span> Bathrooms: <%= @property.bathrooms %></span>
            </div>
          </div>
            <%= button_tag 'I want my dream house', class: 'btn bg-primary btn-primary justify-self-center text-white', id: 'message-toggler'%>

          <div
            class="d-flex flex-column flex-md-row align-items-center px-5 justify-content-around"
          >
            <div class="small-item my-2 d-flex">
              <small class="ml-2"> Email of the seller: <%= @property.user.email %> </small>
            </div>
          </div>
        </section>
        <section class="sssection-3">
          <div class="row">
            <div class="col-12 justify-content-center d-flex mb-4">
              <i class="fas fa-map-marked-alt mr-3 text-red"></i>
              <h5 class="h3 text-red">Map Directions</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-9 text-center mx-auto">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.424852453463!2d-0.16074438476307049!3d51.52376697963773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761acf33628211%3A0x445d7677a88322e1!2s221B%20Baker%20St%2C%20Marylebone%2C%20London%20NW1%206XE%2C%20UK!5e0!3m2!1sen!2sbr!4v1586942576307!5m2!1sen!2sbr"
                height="450"
                style="border: 0;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
                class="w-100"
              ></iframe>
            </div>
          </div>
        </section>
</div>
        <%= render 'properties/message'%>


<%= javascript_pack_tag 'blur_message' %>
