  <header class="header pb-4">
        <nav
          class="navbar navbar-expand-md position-fixed w-100 flex-column flex-md-row justify-content-between"
        >
          <div class="nav-left">
            <a href="#" class="navbar-brand">
              <img src="./images/logo.svg" alt=""
            /></a>
            <%= link_to 'Dream Home', root_path, class: 'navbar-brand'%>
          </div>
          <div class="nav-right">
            <ul class="navbar-nav flex-row w-100">
              <li class="nav-item">
                <%= link_to '#', class: 'nav-link' do %>
                  <%= fa_icon 'user'%>
                <% end %>
                
              </li>
              <li class="nav-item">
                <a href="./index.html" class="nav-link hidden">Home</a>
              </li>
              <li class="nav-item">
                <%= link_to new_property_path, class: 'nav-link' do %>
                  <%= fa_icon 'home'%>
                <% end %>
              </li>
              
              <li class="nav-item">
                <div class="dropdown">
                  <button
                    class="btn btn-secondary dropdown-toggle border-0 hidden"
                    data-toggle="dropdown"
                    id="dropB"
                  >
                    Sell
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to 'House', new_property_path, class: 'dropdown-item text-dark'%>
                    <%= link_to 'Apartment', new_property_path, class: 'dropdown-item text-dark'%>
                  </div>
                </div>
              </li>

              <li class="nav-item">
                <%= link_to properties_path do %>
                  <%= fa_icon 'building', class: 'nav-link' %>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to 'Buy', properties_path, class: 'nav-link'%>
              </li>

              <%= signed_in? %>

            </ul>
          </div>
        </nav>
      </header>